// fonts
$main-font: "Helvetica", sans-serif;

// colors
$red: red;
$white: #fff;
$grey: #2c3e50;

// nav
$nav-margin: 2rem;
$nav-header-height: 3rem;
$nav-total-height: $nav-margin + $nav-header-height;
